[Unit]
Description=Actualizar el informe de Home Assistant cada hora

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
Unit=homelab-report-publisher.service

[Install]
WantedBy=timers.target
